<html>
<head>
    <title>Stroke detection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mx-auto h1">STROKE PREDICTION</span>
</nav>
<div class="text-center">
    <div class="cover-container d-flex p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </header>
        <div>
            <main role="main" class="inner cover">
                <img src="static/brainindex.jpg" height="390" width="800">
                <h1 class="cover-heading">Stroke Prediction using Machine learning.</h1>
                <p class="lead">
                    <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>
        </div>
        <footer class="text-light bg-dark">
            <p>&copy; Created By <a href="https://github.com/itskshivam1318/" target="_blank">Rupal Sonawane</a></p>
        </footer>
    </div>
</div>
</body>
</html>